@charset "UTF-8";

* {
    font-family: 'montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype'), url('fontes/idroid.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,800;1,300&display=swap');

strong {
    color: #00135f;
}
body {
    background-color: #3836e2;
}
header { /* style weight size family */
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.692), #00156B, #00156ba4);
    min-height: 150px;
    padding-top: 40px;
    color: #e4ebff;
    text-align: center;
    text-shadow: 1px 1px 3px #00000094;
    font: 800 1.2em 'Montserrat', serif, sans-serif;
}
header > h1 {
    margin-bottom: 20px;
}
header > p { 
    max-width: 600px;
    margin-bottom: 50px;
    margin: auto;
    font-weight: 500;

}
header > nav {
    margin-top: 50px;
    border-radius: 7px;
    text-align: left;
    padding: 10px;
    font-weight: 700;
}
nav > a{
    font-size: 11pt;
    color: #e4ebff;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 4px;
    padding: 3px;
    transition-duration: 0.9s;
}
nav > a:hover {
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.308);
    padding: 4px;
    border-radius: 5px;
}
nav > a:active{
    color: rgba(255, 255, 255, 0.548);
}
main {
    border-radius: 10px;
    max-width: 1000px;
    padding: 10px;
    margin: auto;
    background-color: #c9d8ff;
    box-shadow: 5px 5px 5px #032c2c9d;
    text-align: left;
    color: white;
    font-family: 'idroid', sans-serif;
    line-height: 1.8em;
}
article > h1 {
    font-family: 'idroid', sans-serif;
    font-weight: 800;
    padding-left: 5px;
    font-size: 1.5em;
    color: #00135f;
}

article > h2 {
    font-family: 'idroid', sans-serif;
    padding: 3px;
    padding-left: 5px;
    font-weight: 300;
    background-image: linear-gradient(90deg, #00156B, #00156ba1, rgba(255, 255, 255, 0));
}
article > p {
    padding: 12px;
    color: black;
    text-align: justify;
    font-family: 'montserrat', sans-serif;
    font-size: 13.5pt;
    text-indent: 50px;
}
article > p > a {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(90deg, #00156B, #00156b48);
    border-radius: 3px;
    padding-left: 2px;
 }
article > p > a:active {
    color: rgb(185, 185, 185);
 }
article > picture > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
iframe {
    display: block;
    margin: auto;
    width: 100%;
}
aside {
    margin-top: 10px;
    background-color: #00135f;
    border-radius: 10px;
}
aside > h3 {
    background-color: #00092b;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    margin-bottom: 20px;
}
aside > p {
    padding-left: 20px;
    margin-bottom: 20px;
    font-family: 'montserrat', sans-serif;
    font-size: 13pt;
    text-indent: 50px;
}
.paragrafo {
    padding-bottom: 40px;
}
p > strong {
    color: white;
}
aside > p > a {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(90deg, #656e91, #38406348);
    border-radius: 3px;
    padding-left: 2px;
}
aside > ul {
    padding: 20px;
    list-style-type: '\2714';
    list-style-position: inside;
    columns: 2;
}
footer > p {
    text-align: center;
    font-size: 11pt;
    margin-top: 80px;
    background-color: #c9d8ff;
}
footer > p > a {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(90deg, #00156B, #00156b48);
    border-radius: 3px;
    padding-left: 2px;
}